<%= form_tag(summit_transfer_path(@enthusiast), remote: true) do %>
    <div id="transfer_errors"/>
    <table>
      <tr>
        <td><label>选择服务号</label></td>
        <td> <%= select_tag(:service_id, options_for_select(Service.includes(:profile).pluck('profiles.name', :id)), {include_blank: false}) %></td>
      </tr>
    </table>
    <%= submit_tag('提交') %>
<% end %>