<div class="panel">
  <h3>转账</h3>

  <%= form_tag(service_transfer_path(@service), remote: true) do %>
      <table style='padding: 20px' cellpadding='15px'>
        <tr>
          <th>选择私教</th>
          <td> <%= select_tag(:coach, options_for_select(@service.coaches.includes(:profile).pluck('profiles.name', :id)), {include_blank: false}) %></td>
        </tr>
        <tr>
          <th>金额</th>
          <td> <%= number_field_tag(:amount, nil, min: 200, max: @service.wallet.balance) %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag('提交',data: {disable_with: '提交中...'}) %></td>
        </tr>
      </table>
  <% end %>
</div>