<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner jr_banner">
  <div class="sw_text">
    <p>上海公司办公地点在凌空soho，太空堡垒的建筑内，距离二号线地铁淞虹路十分钟。</p>

    <p>携手一起迈出坚实的一步，让我们开启星际远航吧！</p>

    <p>北京分公司筹备ing，上海总部办公地点在凌空soho，太空堡垒的建筑内，</p>

    <p>距离二号线地铁淞虹路十分钟。携手一起迈出坚实的一步，让我们开启星际远航吧！</p>
  </div>
  <div class="tel"><em>简历投递 hr@e-mxing.com</em></div>
</div>
<!--banner End-->
<div class="jobbox">
  <h1>代理加盟</h1>

  <div class="jobcon">
    <div class="job_l">
      <h3>高级java软件工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．负责移动APP服务端开发。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．本科毕业，计算机，信息管理，网络，通信相关专业。</p>
        </dd>
      </dl>
    </div>
    <div class="job_r">
      <h3>资深android软件工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．负责android应用开发。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．大专及以上学历，计算机或相关专业毕业。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>
