<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner jr_banner">
  <div class="sw_text">
    <p>上海公司办公地点在凌空soho，太空堡垒的建筑内，距离二号线地铁淞虹路十分钟。</p>

    <p>携手一起迈出坚实的一步，让我们开启星际远航吧！</p>

    <p>北京分公司筹备ing，上海总部办公地点在凌空soho，太空堡垒的建筑内，</p>

    <p>距离二号线地铁淞虹路十分钟。携手一起迈出坚实的一步，让我们开启星际远航吧！</p>
  </div>
  <div class="tel"><em>简历投递 hr@e-mxing.com</em></div>
</div>
<!--banner End-->
<div class="jobbox">
  <h1>招聘职位</h1>

  <div class="jobcon">
    <div class="job_l">
      <h3>高级java软件工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．负责移动APP服务端开发。</p>

          <p>2．负责服务器端与前端通信协议的制定和处理。</p>

          <p>3．需求分析，系统设计，模块设计及核心代码实现。</p>

          <p>4．与前端工程师共同设计调试功能模块；确保系统运行稳定，能够应对快速增长的用户。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．本科毕业，计算机，信息管理，网络，通信相关专业。</p>

          <p>2．两年及以上工作经验，一年以上JAVA/ruby on rails语言服务端开发经验，具有学习系统开发经验者优先。</p>

          <p>3．熟练使用nginx，linux shell。</p>

          <p>4．熟悉redis,mysql,postgreSQL等数据库。</p>

          <p>5．具有良好的编码风格，有较强的独立工作能力和团队协作能力。</p>

          <p>6．思路清晰，思维敏捷，有快速的学习能力。</p>

          <p>7．有web前端开发经验优先。</p>
        </dd>
      </dl>
    </div>
    <div class="job_r">
      <h3>资深android软件工程师</h3>
      <dl>
        <dt>职位描述</dt>
        <dd>
          <p>1．负责android应用开发。</p>

          <p>2．负责应用程序的软件概要设计和详细设计。</p>

          <p>3．根据策划案、系统设计和需求分析，实现软件产品功能。</p>

          <p>4．具备Android/Linux等开源系统平台软件开发经验，熟悉Android系统框架，熟悉Android内部的各种机制，具备扎实的C/C++/java编程基础。</p>

          <p>5．能够独立开发项目，公关技术难点。</p>
        </dd>
      </dl>
      <dl>
        <dt>岗位要求</dt>
        <dd>
          <p>1．大专及以上学历，计算机或相关专业毕业。</p>

          <p>2．精通Android系统架构及相关技术，3年以上实际Android平台开发经验，5年以上软件开发经验。</p>

          <p>3．具有Android手机应用或手机游戏开发经验者优先考虑。</p>

          <p>4．热于学习新的技术并勇于在实际编程中使用，乐观进取。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>