<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>美型网</title>
</head>
<body class="bodybg">
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner">
  <div class="sw_text">
    <p>上海公司办公地点在凌空soho，太空堡垒的建筑内，距离二号线地铁淞虹路十分钟。</p>

    <p>携手一起迈出坚实的一步，让我们开启星际远航吧！</p>

    <p>北京分公司筹备ing，上海总部办公地点在凌空soho，太空堡垒的建筑内，</p>

    <p>距离二号线地铁淞虹路十分钟。携手一起迈出坚实的一步，让我们开启星际远航吧！</p>
  </div>
  <div class="tel"><em>商务合作QQ 2065356158</em></div>
</div>
<!--banner End-->
<div class="affairs">
  <div class="sw_l">
    <h3>商务合作&amp;公司地址</h3>
    <dl>
      <dt>公司地址</dt>
      <dd>上海市凌空SOHO7号楼6楼</dd>
    </dl>
    <dl>
      <dt>商务合作</dt>
      <dd>
        <p>QQ: 2065356158 </p>

        <p>意见反馈：support@e-mxing.com</p>

        <p>美型微信公众号：e-mxing</p>
      </dd>
    </dl>
    <dl>
      <dt>工作时间</dt>
      <dd>
        <p>周一至周五 9:30-18:30</p>
      </dd>
    </dl>
  </div>
  <div class="sw_r">
    <h3>写东西给我们</h3>

    <p><input type="text" class="inp" placeholder="姓名"></p>

    <p><input type="text" class="inp" placeholder="您的E-mail"></p>

    <p><textarea placeholder="输入内容"></textarea></p>

    <p><input type="button" class="but" value="发送"></p>
  </div>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>