<%= form_for([:admin, @service, @service_photo], html: {class: 'form-horizontal'}) do |f| %>
    <fieldset class="inputs">
      <legend><span>添加照片</span></legend>
    </fieldset>
    <%= f.submit('提交') %>
<% end %>