<script type="text/javascript">

    $(function () {
        var data = [
            {
                name: '全部课时',
                value: <%= raw all%>,
                color: '#1385a5'
            },
            {
                name: '已确认课时',
                value: <%= raw confirm%>,
                color: '#c56966'
            }
        ];
        var chart = new iChart.ColumnMulti2D({
            render: 'appointment',
            data: data,
            labels: <%=raw coaches%>,
            title: '私教预约情况',
            width: 800,
            height: 400,
            background_color: '#ffffff',
            legend: {
                enable: true,
                background_color: null,
                border: {
                    enable: false
                }
            },
            coordinate: {
                background_color: '#f1f1f1',
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    end_scale: 140,
                    scale_space: 20
                }],
                width: 600,
                height: 260
            }
        });
        chart.draw();
    });
</script>
<div class="panel" style="min-width: 800px">
  <h3>私教订单情况</h3>

  <div id='appointment'></div>
</div>