<script type="text/javascript">

    $(function () {
        var data = [
            {
                name: '担保订单',
                value: <%= raw g%>,
                color: '#1385a5'
            },
            {
                name: '普通订单',
                value: <%= raw n%>,
                color: '#c56966'
            }
        ];
        var chart = new iChart.ColumnMulti2D({
            render: 'order',
            data: data,
            labels: <%=raw coaches%>,
            title: '订单销售,单位: 元',
            width: 800,
            height: 400,
            background_color: '#ffffff',
            legend: {
                enable: true,
                background_color: null,
                border: {
                    enable: false
                }
            },
            coordinate: {
                background_color: '#f1f1f1',
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    end_scale: 140,
                    scale_space: 20
                }],
                width: 600,
                height: 260
            }
        });
        chart.draw();
    });
</script>
<div class="panel">
  <h3>私教订单情况</h3>

  <div id='order' style="width: auto;height: auto"></div>
</div>